@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  font-family: "inter", sans-serif;
  --text1: #393939;
  --text2: #939393;
  --font: #181818;
  font-size: 62.5%;
  font-weight: 600;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
  line-height: 100%;
  margin-top: 28px;
}

.header {
  margin-top: 15px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header a {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 100%;
  color: var(--text1);
  padding-right: 1.4rem;
}

.section1 {
  margin-bottom: 36px;
  margin-top: 15px;
}

.section1 p {
  margin-top: 28px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
}

.section1 a {
  padding: 1.3rem 4rem;
  text-align: center;
  background-color: var(--text1);
  border-radius: 25px;
  color: white;
  font-size: 1.5rem;
  line-height: 100%;
  margin-bottom: 15px;
  box-sizing: initial;
  display: inline-block;
}

.section1 img {
  margin: 0 auto;
  display: block;
}

.BestSeller {
  margin-top: 23px;
  margin-bottom: 30px;
}

.BestSeller h2 {
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 1.4rem;
  line-height: 100%;
  width: 114px;
  align-content: center;
}

.BestSeller h3 {
  margin-top: 18px;
  margin-bottom: 2px;
  font-size: 1.2rem;
  line-height: 100%;
  color: var(--text2);
}

.BestSeller p {
  font-size: 1.4rem;
  line-height: 100%;
  color: black;
  margin-bottom: 18px;
}

.BestSeller img {
  margin-top: 28px;
}

.BestSeller a {
  font-size: 1.2rem;
  line-height: 100%;
  color: black;
  padding: 0.8rem 1.4rem;
  border: 1px solid black;
  border-radius: 2px;
  box-sizing: initial;
  display: inline-block;
}

#ul_best {
  list-style-type: circle;
}

.BestSeller ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9rem;
}

.BestSeller div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#view_all1 {
  padding: 1.4rem 4rem;
  text-align: center;
  background: var(--text1);
  border-radius: 82px;
  color: white;
  font-size: 1.5rem;
  line-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#view_all {
  padding: 1.3rem 4rem;
  text-align: center;
  background: var(--text1);
  border-radius: 82px;
  color: white;
  font-size: 1.5rem;
  line-height: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.BestSeller button {
  padding: 0;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.section3 {
  margin-top: 44px;
  margin-bottom: 13px;
}

.section3 h2 {
  font-size: 2.6rem;
  line-height: 100%;
}

.section3 h3 {
  font-size: 1.4rem;
  line-height: 100%;
  border: 1px solid black;
  border-radius: 2px;
  width: 66px;
  padding: 0.4rem 0.8rem;
  margin-bottom: 8px;
}

.section3 h4 {
  font-size: 1.8rem;
  line-height: 100%;
}

.section3 p {
  color: var(--text1);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 169.02%;
}

.section3 a {
  text-decoration-line: underline;
  color: var(--text1);
}

.section3 ol {
  margin-top: 22px;
}

.section3 li {
  margin-bottom: 22px;
}

#visit_shop1 {
  padding: 1.3rem 4rem;
  text-align: center;
  background: var(--text1);
  border-radius: 82px;
  color: white;
  font-size: 1.5rem;
  line-height: 100%;
  text-decoration-line: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#visit_shop {
  padding: 1.3rem 4rem;
  text-align: center;
  background: var(--text1);
  border-radius: 82px;
  color: white;
  font-size: 1.5rem;
  line-height: 100%;
  margin-top: 60px;
  text-decoration-line: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section4 img {
  margin-bottom: 14px;
}

.section4 img:hover {
  box-shadow: 0 0 6px 6px #555;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.NEWS {
  margin-bottom: 84px;
}

.NEWS img {
  margin-bottom: 16px;
  width: 100%;
  max-width: 460px;
  padding-right: 6rem;
}

.NEWS h2 {
  font-size: 1.2rem;
  line-height: 100%;
  padding: 0.4rem 1rem;
  border: 1px solid black;
  border-radius: 2px;
  width: 58px;
}

.NEWS article {
  padding-top: 2.1rem;
  padding-bottom: 1.4rem;
}

.NEWS time {
  font-size: 1.2rem;
  line-height: 100%;
  color: black;
}

.NEWS h3 {
  margin-top: 8px;
  font-size: 2rem;
  line-height: 100%;
  color: black;
  margin-bottom: 22px;
}

.NEWS a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 4rem;
  border: 1px solid var(--text2);
  border-radius: 82px;
  font-size: 1.5rem;
  line-height: 100%;
  color: var(--text1);
  text-decoration: none;
  background: linear-gradient(90deg, blue 0%, purple 50%, pink 100%);
}

.about_verseser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
}

.about_verseser img {
  margin-top: 43px;
  margin-bottom: 68px;
  width: 100%;
  max-width: 380px;
  display: block;
}

.about_verseser h2 {
  font-size: 2.6rem;
  line-height: 100%;
}

.about_verseser p {
  margin-top: 6px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 169.02%;
}

.about_verseser a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 82px;
  margin-top: 26px;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  background-color: var(--font);
  color: white;

}

.footer1 {
  padding-top: 30px;
  background: var(--font);
  padding-bottom: 2.1rem;
}

.footer1 li {
  margin-bottom: 16px;
}

.div_footer {
  padding-left: 1.5rem;
  padding-bottom: 4.5rem;
}

.footer1 a {
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 169.02%;
}

.footer1 p {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 100%;
  color: white;
  border-top: 1px solid var(--text1);
  border-bottom: 1px solid var(--text1);
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
}

.ul1_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.2rem;
}

.margin_img a {
  margin-right: 12px;
}

#footer_p {
  opacity: 0.3;
  border: 0;
}

#footer_a {
  font-size: 1.5rem;
  line-height: 100%;
  text-decoration-line: underline;
  text-transform: uppercase;
  opacity: 0.9;
}

.Menu_but {
  border: 0px;
  background-color: transparent;
}

.sr_only1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer1_dec_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer1_dec_div_div a {
  padding-right: 0.8rem;
}

.footer_a1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border: var(--text1);
}

.footer_a1 p {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  line-height: 100%;
  color: white;
  border-top: 1px solid var(--text1);
  border-bottom: 0px;
}

.footer_a1 a {
  padding-right: 1rem;
  padding-left: 1rem;
}

.a123 {
  color: #393939;
}




@media screen and (max-width:1023px) {
  .sr_only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  #view_all1 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  #visit_shop1 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .section4 a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 4rem;
    background: var(--text1);
    border-radius: 82px;
    color: white;
    width: 100%;
  }

  .section4 {
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .section4 a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 4rem;
    background: var(--text1);
    border-radius: 82px;
    color: white;
  }
}

@media screen and (min-width:1023px) {

  #view_all {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  h1 {
    font-size: 4.4rem;
    line-height: 100%;
  }

  .section1 p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 169.02%;
  }

  #visit_shop {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .section3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .div_section3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .section3 li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .div_section3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .div1_section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .div2_section3 {
    padding-left: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .section3 a {
    margin-top: 22px;
  }

  .section41 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .section41 a {
    padding: 1.4rem 4rem;
    background: var(--text1);
    border-radius: 82px;
    color: white;
    margin-bottom: 28px;
    line-height: 100%;
  }

  .section4 {
    margin-bottom: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .section4 div {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    width: 100%;
    max-width: 260px;
  }

  .section4 div img {
    display: block;
    width: 100%;
    min-width: 180px;
  }

  .sr_1 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}


@media screen and (min-width:767px) {
  .NEWS img {
    max-width: 420px;
    max-height: 280px;
    padding-right: 6rem;
  }

  .NEWS article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .NEWS div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
  }

  .about_verseser {
    flex-wrap: nowrap
  }

  .about_verseser img {
    margin-top: 43px;
    margin-bottom: 68px;
    max-width: 100%;
    display: block;
    padding-left: 6rem;
    max-width: 680px;
  }

  .div1_about_verseser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .about_verseser a {
    border-radius: 82px;
    margin-top: 20px;
    padding: 1.4rem 3rem;
    background-color: var(--font);
    color: white;
  }

}